NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_MFE_IDENTITY_MANIFEST_URL=http://localhost:3001/mfe/manifest
NEXT_PUBLIC_MFE_DISPATCH_MANIFEST_URL=http://localhost:3002/mfe/manifest
NEXT_PUBLIC_MFE_TICKETING_MANIFEST_URL=http://localhost:3003/mfe/manifest
NEXT_PUBLIC_MFE_REPORTING_MANIFEST_URL=http://localhost:3004/mfe/manifest
NEXT_PUBLIC_MFE_ADMIN_MANIFEST_URL=http://localhost:3005/mfe/manifest
