NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_MFE_PUBLIC_URL=http://localhost:3001
IDENTITY_API_URL=http://localhost:8081/api/v1/identity
# Opcional: usar solo si quieres forzar otro health check, por ejemplo Docker en 18081.
# IDENTITY_READY_URL=http://localhost:18081/q/health/ready
